<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
 <h1 id="introduction">Introduction to <%= site_name %> <a href="#introduction">#</a> </h1> 
 <p><h3>What is infoLib?</h3></p>
<p>infoLib is a website that helps people request information from the Liberian Government and publicly accountable bodies. infoLib is NOT a government body or affiliated organisation, it is an independent website run by <a href="http://ilabliberia.org/">iLab Liberia</a> and <a href="http://infolib.org.lr/help/partners">LFIC.</a></p> 

<p><h3>How does infoLib work?</h3></p>
<p>It’s a very simple process; You choose the public authority that you would like information from, then write a message describing what you want to know. InfoLib then sends your request to the public authority. Any response received is automatically published on the website for you and anyone else to find and read.<p>

<p>Requests you have submitted through a LFIC hub will also be added to the website. Your requests will be submitted through LFIC office where they will transcribe it to the InfoLib website as well as deliver a hard copy to the entity. When the authority to which you requested the information from responds, LFIC will get the contents to you.</p>

<p><h3>Who can use infoLib?</h3></p>
<p>Anyone can use infoLib to make a request to the Liberian public authorities. People who might have a specific interest in using the site could be civil society organisations, journalists, students, and women’s groups. Every person has the legal right to ask for information from the Liberian authorities. </p>

<p><h3>Who built infoLib?</h3></p>
<p>infoLib is a project of <a href="http://ilabliberia.org/">iLab Liberia</a>, a technology hub providing Liberian citizens with a space to learn about and use information technologies. The project is supported by the Liberia Freedom of Information Centre and its network. It is funded by <a href="http://www.makingallvoicescount.org/">Making All Voices Count</a> and is a platform independent of the government.</p> 

<p>The software for the infoLib platform is provided by <a href="http://www.mysociety.org">mySociety</a>, it runs in a number of different countries including Spain, Nicaragua, Rwanda and Uganda. </p>

<p><h3>Why should I want to request information using infoLib?</h3></p>
<p>You have a right to ask for information about what the government does with the taxes you pay and the public money it holds. The government and public authorities control services that affect your life, from health care through to national defence. The more transparent the details of these services and government works, the better able we are to make suggestions to improve the things that are done badly, and to celebrate the things that are done well.</p> 

<p>The information you request will also be useful to other people searching for it, as it will be publicly displayed on infoLib for the duration of the site lifetime.</p>
</div>


