<% @title = "Credit where credit is due" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="credits"><%= @title%> <a href="#credits">#</a> </h1>

<dl>

<dt id="thanks">Which people made <%= site_name %>? <a href="#thanks">#</a> </dt>
<dd> 
<ul>
<li>
    <a href="http://ilabliberia.org/">iLab Liberia</a> supported the conception, development, training and promotion of infoLib
</li>
<li>
    LFIC kindly consulted on the project, on everything from outreach to surveying, and support the site by helping people make requests through their networks
</li>
<li>
    Everyone who has helped look up FOI email addresses. 
</li>
<li>
    <a href="http://www.mysociety.org">mySociety</a> provided the technical support and project management for the initial setup
</li>
<li>
    Our <a href="http://infolib.org.lr/help/partners">partners</a> for supporting our vision 
</li>
<li> 
    <a href="http://www.makingallvoicescount.org/">Making All Voices Count</a> provided the funding and the support for the project  
</li>
<li>
    Finally, all the officers and servants who have answered the many requests made through the site. Their diligence, patience and professionalism is what has actually made the information that you see here. Thank them for helping make Government more transparent.
</li>
</ul>
You're all stars.
</dd>

<dt id="helpus">Can I help out? <a href="#helpus">#</a> </dt>
<dd>
    <p>Yes please! We're built out of our supporters and volunteers.</p>
    <ul>
    <li>You can find out FOI email addresses of <a href="/help/requesting#missing_body">authorities that we're missing</a>.</li>
    <li>Write a blog post about either <%= site_name %> or an interesting request that you've
    found. Post about it on a forum that you frequent. Tell friends about it.</li> 
    </ul>
</dd>


<div id="hash_link_padding"></div>


</div>
