<% @title = "FOI Awareness" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
<h1><%=@title %></h1>

<h2>The Freedom of Information Act</h2>

<p>The Freedom of Information Act refers to the right of the public to request, receive, review, reproduce and retain records and documents held by public bodies and private entities performing public functions or receiving public funding.</p>

<p>Public authorities are obliged to publish certain information about their activities; and
members of the public are entitled to request information from public authorities.</p>

<p>Public authorities include all public authorities and bodies at all branches and levels of the Government, the Military,  ministries, bureau, departments, autonomous agencies, public corporations, commissions, committees, sub-committees, and boards. The act also includes all private bodies performing public functions and or providing public services, including academic institutions, hospitals and other health service providers; telecommunications operators, banking institutions, and similar entities.</p>

<p>Recorded information includes printed documents, computer files, letters, emails, photographs, and sound or video recordings.</p>

<p>The Act does not give people access to their own personal data (information about themselves) such as their health records or credit reference file.</p>


<p>For more information please view the full <a href="/assets/foiact.pdf">Freedom of Information Act</a></p>

<div id="hash_link_padding"></div>

</div>