<% @title = "The Independent Information Commission" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <h1 id="the_iic">About <%=@title %></h1>


    <h2>Introduction</h2>

    <p>Freedom of Information (FOI) is a fundamental human right for all persons irrespective of gender, religion or race that is protected by national and international human rights instruments. The establishment of an Independent Information Commission (IIC) in Liberia is an attempt to ensure that this fundamental right is enforced and adhered to by the government. The (IIC) is a government institution created by an Act of the National Legislature on September 16, 2010 and published into handbill by the Ministry of Foreign Affairs on October 6, 2010. This has made Liberia the first West African Country to have enacted a comprehensive Freedom of Information law. Pursuant to the FOI Act, the government appointed an Independent Information Commissioner. The primary responsibilities and functions of the Information Commissioner (IC) are tied to three distinct yet inter-related components:</p>
    <p><strong><ins><em>Enforcement:</em></ins></strong> The core elements of this component include receiving, hearing, and deciding on all complaints. </p>
    <p><strong><ins><em>Compliance:</em></ins></strong> The Commissioner is to provide oversight to ensure that compliance is effected in keeping with the terms of the Act. This will be done through investigation, monitoring, collecting statistics and supporting government’s Information Officers (IOs).</p>
    <p><strong><ins><em>Outreach and Public Awareness:</em></ins></strong> This component focuses on the development of an outreach and public awareness strategy to provide useful tools and relevant information to the general public on how to access the FOI Act.</p>
    <p>In order to fulfill its mandate and successfully implement the aforementioned components, it is imperative that the Commission strengthens its programmatic, institutional and organizational capacity. This will position the Commission to respond to the needs of the public as well as public servants who need sustained capacity building support to enable them function in an effective and efficient manner. In the midst of scarce resources, the Commission needs to be strategic in program design and implementation so that results can be maximized.</p>
    <p>Strategic engagement goes beyond financial resources. It also requires building and strengthening alliances and partnerships with key stakeholders both at the operational and strategic levels. Strategic partnership includes building relationships with key government institutions and international institutions that can work with the Commission to help explore and leverage current or emerging opportunities. Operational partners, on the other hand, consist mainly of civil society organizations that can complement or bring added value to the work of the Commission.</p>
    <p>Lastly, strategic engagement requires that programs that are designed are aligned with the institution’s mandate, vision, mission, core values, goal and objectives. This alignment of different facets of a strategic plan creates the opportunity to be focused and effective so that results can be attained. The alignment also creates the opportunity for the Commission to be efficient, demonstrating value for money.</p>
    <p>This strategic document, which is the Commission’s five-year plan, is the outcome of series of consultations with the Commissioner and a validation workshop session of stakeholders held on May 24, 2013. The plan further serves as a tool that will enable the institution to be responsive to the information needs of diverse sectors of the population. This plan, however, is not set in stone but is a living document and road map that is subject to change in light of the mandate, vision and mission of the institution coupled with the prevailing political environment. Nevertheless, any change to this document should be made with the collective and participatory involvement of diverse stakeholders so that the end product is collectively owned.</p>

    <h2>Context</h2>
    <p>The right to free speech is inextricably linked to the right to public information, two cardinal pillars of good governance, participatory and accountable democracy. Article 15a of the Liberian Constitution provides for free speech while Article 15c guarantees citizens’ access to information. It states: “There shall be no limitation on the public right to be informed about the government and its functionaries”.</p>
    <p>Despite these Constitutional provisions, successive governments have not upheld and protected them in the best interest of the public. The Liberian political history is well noted for infringing on civil and political rights of individuals by restraining their right to free speech. Similarly, state institutions operated in deep secrecy, thereby creating a dis-connect between the governed and the government. This invariably led to the narrowing of the public space and limiting the ability of citizens to hold the state accountable for its actions or inactions.</p>
    <p>During Liberia’s transitional period (2003-2005), marked by the presence of the United Nations Mission in Liberia (UNMIL), citizens enjoyed a considerable degree of free speech and the dramatic broadening of the media landscape, which continues to grow. The country’s media landscape is diversified and pluralistic, an opportunity to operationalize the right to information. The enactment of the FOI law by the government is a sign of its commitment to protect and uphold the fundamental right of all citizens to access relevant public information in keeping with the statute.</p>
    <p>The appointment of an Independent Commissioner (IC) has established the institutional framework for making effective the right of access to information. With the establishment of this framework, the government is now under legal obligation to implement the FOI law by providing citizens with relevant public information in a timely manner. Despite this legal provision, there is a need for strong leadership and demonstrated political will from the three branches of government and other state-managed institutions. This will also require a fundamental shift in attitudes and behaviors of public officials and private individuals subject to the Act.</p>

    <p>At the same time, the demand side of access to information equally needs to be strengthened so that citizens are better equipped with the necessary knowledge and skills to make requests according to the provisions contained in the Act. Due to the country’s deeply entrenched political system marked by elitism, patron-client arrangement and an economic system that extracts rather than gives to the people, coupled with a culture of silence, change will be slow. To manage citizens’ expectations and engender their trust in this process of implementing the FOI law by the government and the IC overseeing compliance and enforcement should be based on the concept of “gradualism”. This is a process by which change comes about by starting on a small scale and building on the gains that are made rather than expecting a dramatic and sudden break from the past. Citizens’ confidence to challenge the system requires a gradual process and this will be a guiding principle in the work of the Independent Information Commission.</p>
    <p><strong><ins>Vision Statement:</ins></strong> <em>The vision of the Commission is to ensure that all parties understand the FOI law and that it is complied with and duly enforced in keeping with the statute. </em> </p>
    <p><strong><ins>Mission Statement:</ins></strong> In pursuit of the above vision, the Commission has the following mission:<em> “To receive, adjudicate and render decisions on all complaints brought to the Commission and ensure compliance by all parties."</em></p>
    <p><strong><ins>Core Vales:</ins></strong> The values of an organization influence the way in which it works and with time, those values contribute to the organization’s culture and identity, which makes it different from other institutions. Through a consultative process, the following core values were identified in pursuit of the mission:</p>
    <p><ul>
        <li><strong><em>Impartiality</em></strong>: The Commission will not engage in any form of double standard or discriminatory practice in dealing with the public.</li>

        <li><strong><em>Independent</em</strong>: Even though the Commission is a government establishment, it will demonstrate a high level of independence in its relationship with different actors.</li>
        <li><strong><em>Approachable</em></strong>: The Commission will exhibit a friendly posture at all times in dealing with the public.</li>
        <li><strong><em>Responsive</em></strong>: The Commission will endeavour to respond to complaints in a timely manner to build public trust in its work.</li>
        <li><strong><em>Proactive</em></strong>: The Commission will adapt a proactive stance in its operations by reviewing existing laws to determine their relevance in the enforcement of the Act. </li>
        <li><strong><em>Discipline and professionalism</em></strong>: One of the hallmarks of a successful team is the level of discipline among its members. The Commission will ensure that discipline and professionalism are reflected in its work.</li>
        <li><strong><em>Transparency and accountability</em></strong>: As an integrity institution, the Commission will be open in the manner in which its operations, both administrative and financial, are carried out.</li>
        <li><strong><em>Teambuilding</em></strong>: The Commission will invest time, energy and resources in building a team that will be able to reach consensus on critical issues, communicate effectively both internally and externally and to engender a spirit of collegiality among its members.</li>
    </ul>

    <p><strong>Compliance and Enforcement:</strong></p>
        <p>At the short term level (12 months), the following milestones will be attained:</p>
 <ul>
     <li>Job descriptions for legal consultant, permanent lawyers and hearing officers are developed. </li>
     <li>Legal consultant, Hearing Officers and/or Lawyers are hired.</li>
     <li>Lawyers are hearing and drafting decisions and making legal representations on behalf of the Commission.</li>
     <li>3 Regional Hearing Officers are recruited.</li>
     <li>An independent cell phone number is established through which the public can reach the Commission.</li>
     <li>Procedures and processes are established for receiving complaints, investigating, holding hearings and issuing decisions.</li>
     <li>A database is established to document and track all cases through resolution, including all cases that are received, reviewed, heard and decisions taken.</li>
 </ul>

   <p>At the medium term level (2-3 years), the following milestones will be met:</p>
 <ul>
    <li>Lawyers are continuing to make legal representation and giving opinions on complaints filed with the Commission.</li>
    <li>Complaints continue to be reviewed and disposed of.</li>

 </ul>

   <p>At the long term phase (3-5 years), the following milestones will be achieved:</p>
 <ul>
    <li>The department is fully operational with the recruitment of all key personnel that are handling cases in a professional, and an effective and efficient manner with proper system and documentation.</li>
    <li>Complaints are expeditiously handled. </li>
 </ul>

    <p><strong><ins>Outreach and Sensitization:</ins></strong></p>
    <p>For the short term (12 months), the following benchmarks will be attained:</p>
 <ul>
     <li>An Outreach and Sensitization Officer is hired with defined job description. </li>
     <li>An outreach and communication strategy is developed.</li>
     <li>Awareness on the FOI law targeting different stakeholders such as government institutions, private institutions that receive government funding and citizens is initiated.</li>
     <li>Relationship with all public information officers recruited in all government ministries is established.</li>

    <p>For the medium term (2-3 years), the benchmarks to be attained include:</p>
    <ul>
        <li>Training of government public information officers in accessing the FOI law.</li>
        <li>Monitoring and tracking system is put in place.</li>
        <li>Outreach and sensitization strategy is implemented across the country.</li>
    </ul>

    <p>For the long term (3-5 years), the benchmark to be achieved is:</p>
    <ul>
        <li>Engagement with broad based stakeholders, both private and public as well as communities is institutionalized. </li>
    </ul>


    <p><strong><ins>Documents and Records:</ins></strong></p>
    <p>For the short term (12 months), the following benchmarks will be attained:</p>
    <ul>
        <li>A Record or Archive Specialist is hired with clearly defined job description </li>
        <li>A Documentation, Records Inventory and Preservation Strategy is developed</li>
        <li>Annual Reports from all Ministries and Agencies of government are archived for preservation</li>
    </ul>

    <p>For medium term (2-3 years), the benchmarks to be attained include:</p>
    <ul>
        <li>Good records keeping practice/ guides developed to document and build inventory, and preserve records gathered by the Commission.</li>
        <li>Make public information/ records accessible through the Independent Information Commission</li>
    </ul>

    <p>For long term (3-5 years), the benchmark to achieve is:</p>
    <ul>
        <li>Set-up/open a record room/repository in which relevant information is accessible for reference and research purposes.</li>
    </ul>


    <!-- There's supposed to be a diagram here, I don't know how to add it in - Jen-->

        <div id="hash_link_padding"></div>


        </div>
